student-reg-system/.vs/
student-reg-system/student-reg-system/bin/
student-reg-system/student-reg-system/obj/

student-reg-system/student-reg-system/AssemblyInfo.cs
student-reg-system/student-reg-system/student-reg-system.csproj
student-reg-system/student-reg-system/student-reg-system.csproj.user